<div class="card bg-base-100  shadow-sm animate-fadeIn">
  <figure class="px-10 pt-10">
    <img
      [src]="product().images | productImage"
      alt="Shoes"
      class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title text-accent text-lg hover:underline" [routerLink]="['/product',product().slug]">{{product().title}}</h2>
    <p>{{product().description | slice: 0:70}} ... </p>
    <div class="card-actions">
      <a class="link link-accent" [routerLink]="['/product',product().slug]"> Ver más</a>
    </div>
  </div>
</div>
