<form class="flex flex-col gap-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label class="input validator">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
      </g>
    </svg>
    <input type="email" placeholder="mail@site.com" required formControlName="email" />
  </label>
  <div class="validator-hint hidden">Ingrese un correo válido</div>
  <label class="input validator">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <path
          d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
        ></path>
        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
      </g>
    </svg>
    <input
      type="password"
      required
      placeholder="Contraseña"
      minlength="6"
      title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
      formControlName="password"
      />
      <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  // patron para validar que tenga lo necesario para contraseña, es bueno pero para el registro -->
  </label>
  <!-- <p class="validator-hint hidden">
    Debe tener más de 8 caracteres, incluyendo
    <br />Al menos un número <br />Al menos una letra minúscula <br />Al menos una letra mayúscula
    letter
  </p> -->

  <button type="submit" class="btn btn-secondary">Ingresar</button>

  <p class="text-slate-700">
    ¿No tienes cuenta?
    <a routerLink="/auth/register" class="text-secondary">Crea una aquí</a>
  </p>
</form>

<!-- alerta de Error -->
@if (hasError()) {

<div role="alert" class="alert alert-error animate-fadeIn fixed bottom-5 right-5 w-52">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>Por favor, revise la información.</span>
</div>
}
<!-- alerta de Error -->
